.infotext{
    font-size: large;
    font-weight: bolder;
    margin-left: 8px;
}

.warning{
    color: red;
}

a.warning{
    text-decoration: revert;
}

a.warning:hover{
    color: #d00000;
}

.basicBtn{
    background-color: royalblue;
    color: white;
    width: 90px;
    margin: 10px 4px 0px;
    padding: 6px 12px;

    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: royalblue;
}

.basicBtnRed{
    background-color: red;
    border-color: red;
}

.basicBtnCyan{
    background-color: #00bbbb;
    border-color: #00bbbb;
}

.functionList{
    display: inline;
    margin-top: 18px;
    width: 100%;
}

.top-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}

.editor-info {
    align-self: flex-start;
    flex: 2;
    margin-right: 5px;
    line-height: 1.1em;
    margin-top: 11px;
}

.editor-info-text {
    display: flex;
    gap: 25px;
}

.editor-info-text > a {
    text-decoration: revert;
}

.script-buttons {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    max-width: 220px;
    justify-self: flex-end;
}

.workspaces {
    max-width:570px;
}

.workspaces > div {
    max-height: 48px;
    display: flex;
    flex-wrap: nowrap;
    justify-self: flex-end;
    justify-content: flex-end;
}

.workspaces > div > button {
    padding-left: 6px;
    padding-right: 6px;
    width: unset;
    height: unset;
    font-size: 12px;
}

.workspaceList{
    margin: 10px 4px 0px;
}

.nowrap{
    white-space: nowrap;
}

.div-container{
    width: calc(100% - 10px);
    height: calc(100vh - 110px);
}

.div-container-item{
    border: 1px solid black;
    height: 100%;
    margin: 10px 4px 0px;
    float: left;
}

.div-container-code {
    width: 60%;
}

.div-container-textarea {
    width: calc(40% - 16px);
}

.textarea{
    font-family: monospace;
    padding-left: 4px;
    resize: none;
    outline: none;
}

.functions{
    width: 200px;
    height: 48%;
    padding-left: 4px;
    border: 1px solid black;
    resize: none;
    outline: none;
    overflow: auto;
}

.CodeMirror{
    height: 100%;
    border: none;
}

.nav-tabs{
    display: block;
    float: left;
    border-right: 1px solid black;
    border-bottom: 0px solid black;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

.nav-item{
    background-color: inherit;
    color: black;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid grey;
}

.nav-link{
    transition: padding 0.1s, color 0.1s;
    overflow: hidden;
}

.nav-link.dragged {
    padding: 0px;
    color: white;
}

.nav-link.dragged.active {
    color: royalblue;
}

.nav-tabs .nav-link{
    border: none;
    margin: none;
}

.nav-tabs .nav-link.active{
    background-color: royalblue;
    color: white;
}

.hide-script {
    display: none;
}

.settings {
    text-align: center;
}

.settings-layout {
    display: flex;
    flex-direction: column;
}

dialog::backdrop {
    background: #555B
}

@media (prefers-color-scheme: dark) {
    body,
    .functionList,
    .workspaceList,
    .div-container-item {
        background-color: rgb(43, 43, 43);
        color: #a9b7c6;
        caret-color: #f8f8f2;
    }

    ::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .basicBtn,
    .nav-tabs .nav-link {
        border-radius: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
